
$color-green: #38C746;

.card {
    max-width: 540px;
    border-color: $color-green;
    border-radius: 12px;
}

.card-title {
    background-color: $color-green;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: white;
    text-align: center;
}

.card-text {
    font-size: 1.3rem;
    
}