$color-green: #38C746;
$color-input: #F5F5F5;
$color-input-text: #FFFFFF;

.navbar-prncipal {
    background: $color-green;
    
}
.nav-link {
    text-decoration: none;
    margin: 0;
}
.nameUser {
    font-size: 18px;
    color: $color-input-text
}