
.registerForm {
    padding: 0.4rem;
   
}
.titleRegister {
    margin-bottom: 2rem;
}
.titleRegister {
    width: 183px;
    height: 28px;
    font-size: 24px;
    
}
.inputRegister {
    width: 320px;
    height: 40px;
}
.nameRegister {
    background: white !important;
}